/* Import Assistant font */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Rubik:wght@700&display=swap');

/* Page background */
body {
  background-color: #e3eaf4;
  /* Gray-blue */
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.login-page-title {
  color: #fff;
  text-align: center;
  font-size: 8rem;
  margin-top: 80px;
  margin-bottom: 10px;
  font-family: 'Rubik', sans-serif;
  /* Use Rubik for the title */
  letter-spacing: 2px;
}

/* Form container */
form {
  background-color: #12044e;
  /* Deep blue */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 350px;
  margin: 50px auto;
  font-family: 'Assistant', sans-serif;
  direction: rtl;
}

/* Each field wrapper */
div {
  margin-bottom: 20px;
  direction: rtl;
}

/* Labels */
label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
  font-weight: bold;
  font-family: 'Assistant', sans-serif;
  direction: rtl;
  text-align: right;
}



/* Email input */
input[type="email"] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #08718b;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Assistant', sans-serif;
  background-color: #08718b;
  /* Light blue */
  color: #0a2342;
  direction: rtl;
  text-align: left;
}

/* Password input */
input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Assistant', sans-serif;
  background-color: #fff;
  /* White */
  color: #0a2342;
  direction: rtl;
  text-align: right;
}

/* Input focus */
input:focus {
  outline: none;
  border-color: #1b80e6;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.3);
}

/* Error message */
.error-message {
  color: #dc3545;
  margin-top: 10px;
  font-size: 14px;
  font-family: 'Assistant', sans-serif;
  direction: rtl;
  text-align: right;
}

/* Submit button */
button[type="submit"] {
  background-color: #df9712;
  /* Mustard */
  color: #0a2342;
  /* Deep blue text */
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
  direction: rtl;
}

button[type="submit"]:hover {
  background-color: #a36c07;
  /* Lighter mustard on hover */
}

/* Paragraph and link */
p {
  text-align: center;
  margin-top: 20px;
  color: #fff;
  font-family: 'Assistant', sans-serif;
  direction: rtl;
  font-size: 1.2em;
}

.register-link {
  color: #08718b; /* Mustard - זה יהיה הצבע ההתחלתי של הלינק */
  text-decoration: none;
  font-family: 'Assistant', sans-serif;
  direction: rtl;
}

.register-link:visited {
  color: #FF9E00; /* כתום - Orange peel - זה יהיה הצבע של קישור שכבר ביקרו בו */
}

.register-link:hover {
  text-decoration: underline;
}