<h2>הרשמה</h2>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">שם משתמש:</label>
    <input type="text" id="name" formControlName="name">
    <div *ngIf="registrationForm.controls['name']?.invalid && (registrationForm.controls['username']?.dirty || registrationForm.controls['username']?.touched)">
      <div *ngIf="registrationForm.controls['name']?.errors?.['required']">שם משתמש הוא חובה.</div>
    </div>
  </div>

  <div>
    <label for="email">אימייל:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="registrationForm.controls['email']?.invalid && (registrationForm.controls['email']?.dirty || registrationForm.controls['email']?.touched)">
      <div *ngIf="registrationForm.controls['email']?.errors?.['required']">אימייל הוא חובה.</div>
      <div *ngIf="registrationForm.controls['email']?.errors?.['email']">פורמט אימייל לא תקין.</div>
    </div>
  </div>

  <div>
    <label for="password">סיסמה:</label>
    <input type="password" id="password" formControlName="password">
    <div *ngIf="registrationForm.controls['password']?.invalid && (registrationForm.controls['password']?.dirty || registrationForm.controls['password']?.touched)">
      <div *ngIf="registrationForm.controls['password']?.errors?.['required']">סיסמה היא חובה.</div>
    </div>
  </div>

  <div>
    <label for="role">תפקיד:</label>
    <select id="role" formControlName="role">
      <option value="" disabled>בחר תפקיד</option>
      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
    </select>
    <div *ngIf="registrationForm.controls['role']?.invalid && (registrationForm.controls['role']?.dirty || registrationForm.controls['role']?.touched)">
      <div *ngIf="registrationForm.controls['role']?.errors?.['required']">יש לבחור תפקיד.</div>
    </div>
  </div>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <button type="submit" [disabled]="registrationForm.invalid">הירשם</button>
</form>
<p>כבר יש לך חשבון? <span (click)="navigateToLogin()" style="cursor: pointer; color: rgb(162, 0, 255);">התחבר כאן</span></p>


