/* ייבוא הגופן Assistant מ-Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');

.course-search-container {
  direction: rtl;
  font-family: 'Assistant', sans-serif;
  text-align: right;
  margin: 20px;
}

.course-search label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.course-search input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  direction: rtl;
  text-align: right;
}

.course-search button {
  background-color: #8e44ad;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.course-search button:hover {
  background-color: #7a3791;
}

.selected-course,
ul {
  margin-top: 30px;
  direction: rtl;
}

li {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.enrolled-icon {
  color: green;
  font-size: 1.2em;
  margin-left: 10px;
}
